<form method="POST" action="/registerPost">
  <fieldset>
    <legend>
      <h1>Postagens</h1>
    </legend>

    <h2>Titulo: </h2>
    <input type="text" placeholder="Insira um titulo" name="title">

    <h2>Conteudo: </h2>
    <textarea name="content" cols="30" rows="10"></textarea>

    <br>

    <button type="submit">Postar</button>
  </fieldset>
</form>